
{% extends 'basic.html' %}
{% block title %}portfolio{% endblock title %}
{% for message in messages  %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% block hero %}
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Smriti Kimtee</h1>
    <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
  </div>
</section>
{% endblock hero %}